<section class="about">
  <div class="container about-container">
    <h2 class="section-title about-title">Meet Our Trainers</h2>
    <p class="about-descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <div class="about-content">
      <ul class="about-list">
        <li class="about-list-item">
          <span class="about-list-icon">
            <svg>
              <use href="./images/svg/icons.svg#list-1"></use>
            </svg>
          </span>
          <div class="about-list-content">
            <h3 class="about-list-title">Lorem Ipsum amid</h3>
            <p class="about-list-descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
            </p>
          </div>
        </li>
        <li class="about-list-item">
          <span class="about-list-icon">
            <svg>
              <use href="./images/svg/icons.svg#list-2"></use>
            </svg>
          </span>
          <div class="about-list-content">
            <h3 class="about-list-title">Lorem Ipsum amid</h3>
            <p class="about-list-descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
            </p>
          </div>
        </li>
        <li class="about-list-item">
          <span class="about-list-icon">
            <svg>
              <use href="./images/svg/icons.svg#list-3"></use>
            </svg>
          </span>
          <div class="about-list-content">
            <h3 class="about-list-title">Lorem Ipsum amid</h3>
            <p class="about-list-descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
            </p>
          </div>
        </li>
        <li class="about-list-item">
          <span class="about-list-icon">
            <svg>
              <use href="./images/svg/icons.svg#list-4"></use>
            </svg>
          </span>
          <div class="about-list-content">
            <h3 class="about-list-title">Lorem Ipsum amid</h3>
            <p class="about-list-descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
            </p>
          </div>
        </li>
      </ul>
      <ul class="about-gallery">
        <li class="about-gallery-item gallery-item-1">
          <img
            srcset="./images/about-1-min.jpg 1x, ./images/about-1@2x-min.jpg 2x"
            src="./images/about-1-min.jpg"
            alt="Illustration"
            class="about-gallery-img"
          />
        </li>
        <li class="about-gallery-item gallery-item-2">
          <img
            srcset="./images/about-2-min.jpg 1x, ./images/about-2@2x-min.jpg 2x"
            src="./images/about-2-min.jpg"
            alt="Illustration"
            class="about-gallery-img"
          />
        </li>
        <li class="about-gallery-item gallery-item-3">
          <img
            srcset="./images/about-3-min.jpg 1x, ./images/about-3@2x-min.jpg 2x"
            src="./images/about-3-min.jpg"
            alt="Illustration"
            class="about-gallery-img"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
