<section class="coaches">
  <div class="container coaches-container">
    <ul class="coaches-gallery">
      <li class="coaches-gallery-item">
        <img
          srcset="
            ./images/coaches-1-min.jpg    1x,
            ./images/coaches-1@2x-min.jpg 2x
          "
          src="./images/coaches-1-min.jpg"
          alt="Coaches Illustration"
          class="coaches-gallery-image"
        />
      </li>
      <li class="coaches-gallery-item">
        <img
          srcset="
            ./images/coaches-2-min.jpg    1x,
            ./images/coaches-2@2x-min.jpg 2x
          "
          src="./images/coaches-2-min.jpg"
          alt="Coaches Illustration"
          class="coaches-gallery-image"
        />
      </li>
    </ul>
    <div class="coaches-content">
      <p class="section-subtitle coaches-subtitle">
        Are you looking for a Mentor?
      </p>
      <h2 class="section-title coaches-title">Coaches</h2>
      <p class="coaches-descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et.Lorem
        ipsum dolor sit ...
      </p>
      <button class="btn btn--dark coaches-btn">Explore More</button>
    </div>
  </div>
</section>
