<div class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Elevate your workout</h1>
      <p class="hero-descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt
      </p>
      <button class="btn hero-btn">Get Started</button>
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a href="#" class="header-social-link">#</a>
        </li>
        <li class="hero-social-item">
          <a href="#" class="header-social-link">#</a>
        </li>
        <li class="hero-social-item">
          <a href="#" class="header-social-link">#</a>
        </li>
      </ul>
    </div>
  </div>
</div>
