<section class="plan">
  <div class="container plan-container">
    <div class="plan-top">
      <div class="plan-content">
        <p class="section-subtitle plan-subtitle">Pricing Plan</p>
        <h2 class="section-title plan-title">Join Today</h2>
      </div>
      <ul class="plan-variants">
        <li class="plan-variants-item">
          <button class="plan-variants-btn">Montly</button>
        </li>
        <li class="plan-variants-item">
          <button class="plan-variants-btn active">Yearly</button>
        </li>
      </ul>
    </div>
    <ul class="plan-list">
      <li class="plan-item">
        <h3 class="plan-item-title">Beginner Plan</h3>
        <p class="plan-item-price">$10 <span>/ Month</span></p>
        <p class="plan-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </p>
        <ul class="plan-item-benefits plan-benefits">
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
        </ul>
        <button class="plan-item-btn">Choose Plan</button>
      </li>
      <li class="plan-item">
        <h3 class="plan-item-title">Premium Plan</h3>
        <p class="plan-item-price">$15<span> / Month</span></p>
        <p class="plan-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </p>
        <ul class="plan-item-benefits plan-benefits">
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
        </ul>
        <button class="plan-item-btn">Choose Plan</button>
      </li>
      <li class="plan-item">
        <h3 class="plan-item-title">Premium Plan</h3>
        <p class="plan-item-price">$20<span> / Month</span></p>
        <p class="plan-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt
        </p>
        <ul class="plan-item-benefits plan-benefits">
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
          <li class="plan-benefits-item">
            <span class="plan-benefits-icon">
              <svg>
                <use href="./images/svg/icons.svg#success"></use>
              </svg>
            </span>
            <p class="plan-benefits-descr">Lorem ipsum dolor sit amet,</p>
          </li>
        </ul>
        <button class="plan-item-btn">Choose Plan</button>
      </li>
    </ul>
  </div>
</section>
