<section class="stats">
  <div class="container stats-container">
    <ul class="stats-list">
      <li class="stats-item">
        <h3 class="stats-item-title">5+</h3>
        <p class="stats-item-descr">Years of Service</p>
      </li>
      <li class="stats-item">
        <h3 class="stats-item-title">10+</h3>
        <p class="stats-item-descr">Certified Trainers</p>
      </li>
      <li class="stats-item">
        <h3 class="stats-item-title">786+</h3>
        <p class="stats-item-descr">Happy Members</p>
      </li>
      <li class="stats-item">
        <h3 class="stats-item-title">95%</h3>
        <p class="stats-item-descr">Customer Satisfaction</p>
      </li>
    </ul>
  </div>
</section>
